html {
    overflow-y: scroll;
}
body {
    text-rendering:optimizeLegibility;
    margin: 10px auto 200px;
    width: 800px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 22px;
    line-height: 20px;
    background:	whitesmoke;
    color: rgb(0, 0, 0);
}

/* Styling the header */

header {
  z-index: 2;
  position: fixed;
  width: 800px;
  background-color: whitesmoke;
  text-transform: lowercase;
  font-size: 24px;
  line-height: 30px;
  top: 0;
}

header nav {
  float: right;
  font-size: 22px;
  line-height: 30px;
}

a {
  color: #283bcb;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

header + * {
  padding-top: 30px; /* Adjust the padding to account for the fixed header height */
}


a {
    color: #283bcb;
    text-decoration: none;
}
a:hover {
    text-decoration: underline
}

/* Styling the card */

.card {
    font-size: 24px;
    line-height: 36px;
    text-align: center;
}

#no-underline {
    text-decoration: none;
}

/* Title and date */

.title{
    font-size: 30px;
    font-weight: bold;
}
.date{
    margin: -20px 0px 24px;
    color: #666;
}

/* Styling the projects section */

.project {
  display: flex;
  align-items: flex-start;
  margin-bottom: 50px;
  max-height: 400px;
  overflow: hidden;
}

.project-img {
  flex-basis: 380px;
  margin-right: 20px;
}

.project-img img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  max-height: 240px;
  transition: transform 0.3s ease;
}

.project-img:hover img {
  transform: scale(0.9);
}

.project-details {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.project-details h3 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 15px;
  font-weight: 300;
}


.project-details p {
  margin: 0;
  flex: 1;
  font-size: 20px;
  line-height: 24px;
  
}

/* Styling the footer */
hr.footer-break {
  height: 30px;
  border-style: solid;
  border-color: black;
  border-width: 1px 0 0 0;
}

footer {
  font-size: 20px;
  line-height: 20px;
  text-transform: lowercase;
}
footer nav {
  margin: 0 auto;
  text-align: center;
}